<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#2c3e50">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Marx J. Moura">
  <meta name="description" content="Lightweight job runner for ASP.NET Core." />
  <meta property="og:title" content="CronQuery"/>
  <meta property="og:description" content="Lightweight job runner for ASP.NET Core."/>
  <meta property="og:image" content="{{baseUrl}}/og-image.jpg"/>
  <meta property="og:url" content="{{baseUrl}}" />
  <title>CronQuery</title>
  {{#> head-block}}{{/head-block}}
  <link rel="icon" href="{{baseUrl}}/favicon.ico">
  <link rel="stylesheet" href="{{baseUrl}}/docs.min.css">
</head>
<body>
  <header>
    <a href="#" class="sidebar-toggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a href="{{baseUrl}}/">
      <b>CronQuery</b>
    </a>
  </header>
  <nav class="sidebar">
    <ul>
      <li><a href="{{baseUrl}}/">Quick Start</a></li>
      <li><a href="{{baseUrl}}/cron.html">CRON Expressions</a></li>
      <li><a href="{{baseUrl}}/versions.html">Versions and Compatibility</a></li>
    </ul>
  </nav>
  <div class="page">
    <div class="content">
      {{#> body-block}}{{/body-block}}
    </div>
  </div>
  <script src="{{baseUrl}}/docs.min.js"></script>
  {{#> scripts-block}}{{/scripts-block}}
</body>
</html>
