{{#> www/page }}

{{#*inline "body-block"}}

<p class="text-center">
  CronQuery is an <a href="https://github.com/marxjmoura/cronquery">open source</a>
  and lightweight job runner for ASP.NET Core.
</p>

<h2 id="installation" class="text-center">
  <a href="#installation">#</a> Installation
</h2>

<p class="text-center">
  CronQuery is installed via <a href="https://www.nuget.org/packages/CronQuery">NuGet</a> package.
</p>

<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <button  type="button" class="nav-link active" data-bs-toggle="tab" data-bs-target="#netCliTab">
      .NET CLI
    </button>
  </li>
  <li class="nav-item">
    <button  type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#packageManagerTab">
      Package Manager (Visual Studio)
    </button>
  </li>
</ul>

<div class="tab-content">
  <div id="netCliTab" class="tab-pane show active" tabindex="0">
    <pre><code>dotnet add package CronQuery</code></pre>
  </div>
  <div id="packageManagerTab" class="tab-pane" tabindex="0">
    <pre><code>Install-Package CronQuery</code></pre>
  </div>
</div>

<h2 id="creating-jobs" class="text-center">
  <a href="#creating-jobs">#</a> Creating jobs
</h2>

<p class="text-center">
  Jobs are created by implementing the interface <code>IJob</code>.
</p>

<pre><code>{{ include 'www/snippets/CreatingJob.cs' }}</code></pre>

<h2 id="registering-jobs" class="text-center">
  <a href="#registering-jobs">#</a> Registering jobs
</h2>

<p class="text-center">
  Jobs are registered in the <code>Program.cs</code> class.
</p>

<pre><code>{{ include 'www/snippets/RegisteringJob.cs' }}</code></pre>

<div class="callout">
  Jobs are registered using the ASP.NET Core dependency injection.
  This means that is possible to use dependency injection in your jobs.
</div>

<h2 id="setting-up-jobs" class="text-center">
  <a href="#setting-up-jobs">#</a> Setting up jobs
</h2>

<p>
  Schedule your jobs using <a href="{{baseUrl}}/cron.html">CRON expressions</a> of six fields to a
  specific timezone (UTC is default). Save the configuration in your
  <code>appsettings.json</code> like the example below:
</p>

<table>
  <thead>
    <th>Job</th>
    <th>Configuration</th>
  </thead>
  <tbody>
    <tr>
      <td><code>MyFirstJob</code></td>
      <td>Runs every second on every day, except Sunday.</td>
    </tr>
    <tr>
      <td><code>MySecondJob</code></td>
      <td>Runs every day at 2:00 A.M.</td>
    </tr>
    <tr>
      <td><code>MyThirdJob</code></td>
      <td>Runs every second between 2:00 P.M. and 6:59 P.M. only on Saturday every 15 days.</td>
    </tr>
  </tbody>
</table>

<pre><code>{{ include 'www/snippets/SettingUpJob.json' }}</code></pre>

<p>
  Whenever you save the <code>appsettings.json</code> CronQuery immediately assumes the new configuration.
</p>

<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code>CronQuery.Running</code>
        </td>
        <td>
          Turn on (<code>true</code>) or turn off (<code>false</code>) the CronQuery runner.
        </td>
      </tr>
      <tr>
        <td>
          <code>CronQuery.TimeZone</code>
        </td>
        <td>
          System time zone ID or a custom UTC offset, e.g. <code>UTC-03:00</code>, <code>UTC+01:00</code>.
        </td>
      </tr>
      <tr>
        <td>
          <code>CronQuery.Jobs[].Name</code>
        </td>
        <td>
          Job class name.
        </td>
      </tr>
      <tr>
        <td>
          <code>CronQuery.Jobs[].Running</code>
        </td>
        <td>
          Turn on (<code>true</code>) or turn off (<code>false</code>) the job.
        </td>
      </tr>
      <tr>
        <td>
          <code>CronQuery.Jobs[].Cron</code>
        </td>
        <td>
          <a href="{{baseUrl}}/cron.html">CRON expression</a> that triggers the job.
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="callout">
  You can see a full example in the
  <a href="https://github.com/marxjmoura/cronquery/tree/master/example">GitHub repo</a>.
</div>

{{/inline}}

{{/www/page}}
